
*{
    padding: opx;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    padding: 3.5em;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
    }
.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;

}
.modal-close {
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
    background: white;
    border: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1.5em;
}
  
.hidden {
    display: none;
}
.last{
    grid-column: 1;
}
.card{
    
    padding: 1.5em;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
    

}
.name{
    font-size: .1.2em;
    margin-bottom: 5px;
    
}
.email{
    
    margin-bottom: 5px;
    color: #778;
}
.address  {
    
    color: #778;
}
p{
    color: #778;
    margin-bottom: 5px;
}

.text-container{
    margin: 2em;
    size: 20px;
}
header{
    font-size: .5rem;
    
}
h1{
    font-size: x-large;
    margin-bottom: 1em;
    margin-top: -40px;

}
.modal-content{
    margin: 20px;
    padding: 10px;
    
}
img {
    border-radius: 50%;
}


